.footerLogoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 130px;
  margin: auto;
}
.footerLogo {
  width: 130px;
  height: 40px;
  position: relative;
}
.footerSocialBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.footerSocialBox a {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 0px 3px;
  margin: 5px 0px;
}
.footerLinks {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.footerLinks li a:hover {
  color: #6ababd !important;
}
