.headerContainer {
  padding: 0;
  position: relative;

  background-color: var(--clr-primary);
}

.navigoLogoBox {
  padding-left: 0;
  width: 130px;
  height: 40px;
  margin-left: 20%;
  position: relative;
}
.navLinks a {
  color: #ffffff !important;
  position: relative;
  margin-inline: 10px;
  padding-block: 0px !important;
  font-size: 16px !important;
  display: flex;
  align-items: center;
}

.navLinks a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.navLinks a:hover::before {
  width: 100%;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks a.navBtn {
  background-color: #ffffff;
  padding: 10px;
  font-weight: 600;
  font-size: 14px !important;
  color: black !important;
  transition: all 0.2s ease-in-out;
}
.navLinks a.navBtn::before {
  display: none;
}
.navLinks a.navBtn:hover {
  background-color: #6ababd !important;
  color: #ffffff !important;
}
@media screen and (max-width: 415px) {
  .navLinks a {
    margin-inline: 0px;
  }
}
